@using Microsoft.AspNetCore.Http
@using TP1_Session.Controllers
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Models.Friend>

@{
    ViewData["Title"] = "FriendsEmail";
    var session = HttpContextAccessor.HttpContext.Session;
}

<h1>FriendsEmail</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Selected
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (!string.IsNullOrEmpty(session.GetString(item.Id.ToString())))
                    {
                        @if (session.GetString(item.Id.ToString()).Equals("true"))
                        {
                            <input type="checkbox" id="Selected" name="@item.Id.ToString()" checked />
                        }
                        else
                        {
                            <input type="checkbox" id="Selected" name="@item.Id.ToString()" />
                        }
                    }
                    else
                    {
                        <input type="checkbox" id="Selected" name="@item.Id.ToString()" />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}
    </tbody>
</table>
@Html.ActionLink("FriendsBirthday", "FriendsBirthday", Model)
